.heading
{
    font-size: 23px;
    margin:0px ;
    width: 100%;
}

.note
{
    font-size: 15;
    color: black;
}

body
{
    background-size: cover;
}

.song
{
    font: 25px;
    width: 130px;
}

canvas
{
   border: 5px solid white;
   border-radius: 20px ;
}